{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="p-4 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-body-secondary text-center">
    <div class="px-0">
        <h3 class="display-4 fst-italic">Your Score</h3>
        <h1>{{ score }} / 100</h1>
        <p class="lead my-3">Our recommendation is: {{ recommendation }}</p>
        <p class="lead mb-0"><a href="/trafficDisplay/calculate" class="text-body-emphasis fw-bold">Calculate now</a></p>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-md-3 p-4 p-md-5 mb-5 mt-3 me-2 rounded text-body-emphasis bg-body-secondary text-center">
        <div class="px-0">
            <h3 class="display-4 fst-italic">Your Score</h3>
            <h1>{{ score }} / 100</h1>
            <p class="lead my-3">Our recommendation is: {{ recommendation }}</p>
            <p class="lead mb-0"><a href="/trafficDisplay/calculate" class="text-body-emphasis fw-bold">Calculate now</a></p>
        </div>
    </div>

    <div class="col-md-3 p-4 p-md-5 mb-5 mt-3 me-2 rounded text-body-emphasis bg-body-secondary text-center ">
        <div class="px-0">
            <h3 class="display-4 fst-italic">Your Score</h3>
            <h1>{{ score }} / 100</h1>
            <p class="lead my-3">Our recommendation is: {{ recommendation }}</p>
            <p class="lead mb-0"><a href="/trafficDisplay/calculate" class="text-body-emphasis fw-bold">Calculate now</a></p>
        </div>
    </div>

    <div class="col-md-3 p-4 p-md-5 mb-5 mt-3  me-2 rounded text-body-emphasis bg-body-secondary text-center">
        <div class="px-0">
            <h3 class="display-4 fst-italic">Your Score</h3>
            <h1>{{ score }} / 100</h1>
            <p class="lead my-3">Our recommendation is: {{ recommendation }}</p>
            <p class="lead mb-0"><a href="/trafficDisplay/calculate" class="text-body-emphasis fw-bold">Calculate now</a></p>
        </div>
    </div>
</div>


{% endblock %}