{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<title>Risk Calculation Metrics</title>
    <style>
        h1 {
            text-align: center;
            max-width: 800px;
            line-height: 1.6;
        }
        h2 {
            color: #003366;
            border-bottom: 2px solid #0056b3;
            padding-bottom: 5px;
            margin: 40px auto;
            line-height: 1.6;
            color: #333;
        }
        p{
            padding-bottom: 20px;
        }
        b {
            color: #007bff;
        }
    </style>
</head>

    <h1 style = "color: #333; margin: 40px auto;">How Our Numbers Are Calculated</h1>

    <h2>Our Metrics</h2>
    <p>
        Our three main metrics are <b>Likelihood of Crash</b>, <b>Crash Severity</b>, and <b>Overall Risk Factor</b>. The 
        <b>Overall Risk Factor</b> is a combination of the first two. These metrics integrate various data sources to create a holistic 
        view of crash probabilities based on the user's <b>location, weather conditions, date, and time</b>.
    </p>
    <p>
        We selected these metrics because they provide essential information to assess potential risks to a driver and their vehicle.
    </p>

    <h2>Likelihood of Crash</h2>
    <p>
        The <b>Likelihood of Crash</b> metric calculates <b>the likelihood of an accident occuring in a given location.</b> This 
        calculation uses the latitude and longitude of the user based on their IP address to calculate their nearest constituency 
        (using euclidean distance from a constituency's centre point), and then cross references their constituency's population 
        and crash frequency data to give a value. Before acquiring this value, the consitutency's population data is modified by reducing the 
        population 'size' to represent the number of elegible drivers (on average) in the UK - approx 60%. The constituency's frequency
        is then normalised against the country average to work out how it compares.
    </p>

    <h2>Methodology for Impact Score Calculation</h2>
<p>
All impact score data is read from the UK government database on 2023 road traffic collisions.

Calculating Impact Score Based on Time of Day:
Calculate Average Proportion: It calculates the proportions of slight, serious, and fatal accidents for each hour of the day. It then compares this with others hours of the day to determine the risk.
Processed Data: Contains the time of day and the average proportion of incidents categorised as slight/serious/fatal.

Calculating Impact Score Based on Weather and Road Conditions:
Categorise Weather Conditions: Maps various weather descriptions to predefined categories (e.g., "Fine + high winds", "Raining no high winds"). Normalises against a control variable (dry, clear conditions) with a baseline of 1.
Processed Data: Categorised weather conditions and their impact on accident severity.

Calculating Impact Score Based on Location:
Find Closest Constituency: Calculates the closest constituency based on the user's latitude and longitude using a Euclidean distance calculation.
Processing Data: Maps the user's constituency to LOSA map areas and the related accident data in those areas, comparing it against national averages.
Processed Data: Includes the constituency and related accident data, helping to understand the severity of crashes in a user's location.

Calculating Overall Impact Score:
Fetch Data: The script fetches the user's location, time of day, and weather condition from their IP address and a weather API.
Load Processed Data: Loads processed data for weather, time, and location from respective CSV files.
Filter Data: Filters data based on user inputs (weather condition, hour of the day, and constituency).
Combine Data: Combines filtered data into a single DataFrame.
Calculate Impact Scores: Calculates the product of the proportions for slight, serious, and fatal accidents, filtering out zero values before the calculation.
Return Impact Scores: Combined proportion values for slight, serious, and fatal accidents are returned as the impact scores. </p>
    <ul>
        <li><b>Slight:</b> No hospital treatment required</li>
        <li><b>Serious:</b> Hospital treatment required</li>
        <li><b>Fatal:</b> Death or permanent injury</li>
    </ul>
    <p>
        Like the <b>Likelihood of Crash</b>, this metric considers <b>location, weather, date, and time</b>, and the results are normalized 
        against a national average.
    </p>

    <h2>Overall Risk Factor</h2>
    <p>
        The <b>Overall Risk Factor</b> is a score out of 100 that combines both <b>Likelihood of Crash</b> and <b>Crash Severity</b> to 
        provide a comprehensive risk assessment.
    </p>
    <p>
        A score of <b>50 represents the average risk level</b>—values above or below this indicate <b>higher or lower risk</b> relative to 
        national trends.
    </p>



{% endblock %}