{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<style>
:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
</style>

<div class="blogPost">
  <div class="p-4 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Check how safe your drive will be</h1>
      <p class="lead my-3">Calculate how likely a crash is to occur, and how severe a crash would be given your location, weather and other metrics</p>
      <p class="lead mb-0"><a href="/trafficDisplay/calculate" class="text-body-emphasis fw-bold">Calculate now</a></p>
    </div>
  </div>
</div>

<div class="charts">
  <div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
        <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
        <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
        <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn btn-primary"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
        <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
      <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>
    </div>
    </div>
  </div>
    </div>
</div>

{% endblock %}